<script>
  window.MILLAS_ADMIN_PREFIX    = {{ adminPrefix | dump | safe }};
  window.MILLAS_RESOURCE_SLUG   = {{ resource.slug | dump | safe }};
</script>
<script src="{{ adminPrefix }}/static/SelectFilter2.js?v=1"></script>
<script src="{{ adminPrefix }}/static/change_form.js?v=1"></script>